<h1>StaticPages#homepage</h1>
<p>Find me in app/views/static_pages/homepage.html.erb</p>

<%= link_to "Posts", posts_path %>

<br> <br>

<%= link_to "Sign up", users_signup_path %>
<%= link_to "Log in", users_login_path %>
